#   <\h> FUNCTIONAL TEST FOR ASSIGNMENT 01 </h>

In [28]:
import os

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

fileName = input('Please enter the file name:')

try:
    f = open(os.getcwd() + '\\Data Input\\' + fileName, 'r')
    print('File is found! Processing to load the data ...')
    rawData = [[i for i in j.split(',')] for j in f.read().split()]
    classDf = pd.DataFrame(rawData).rename(columns={0: 'Student Code'})
    f.close()
    print('Load data successful! Proceed the next steps ...')
except IOError:
    #   If the file is not found, try to re-search in 4 times
    print('File is not found!')

def clean_data(dataFrame):
    cols = dataFrame.shape[1]
    if cols <= 26:
        return dataFrame
    else:
        df = dataFrame.drop(dataFrame.iloc[:, 26:], axis=1, inplace=False)
        return df

#   df is the cleaned dataframe of original classDf
df = clean_data(classDf)

#   creat a copy dataframe for processing
df0 = df.copy()
n = len(df0)

#   set index of df0 to Student Code
df0.set_index('Student Code', inplace=True)

#   convert all ''/ missing answer to 0
df[df == ''] = 0

#   setup the answer key to list
answerKey = list('B,A,D,D,C,B,D,A,C,C,D,B,A,B,A,C,B,D,A,C,A,A,B,D,D'.split(','))

#   compare the df0 with answer key then copy to df1
#   df1 value == True >> convert to 4
#   df vallue == False >> convert to -1
df1 = df0.eq(answerKey)

df1[df1 == True] = 4
df1[df1 == False] = -1

#   move all df0 zero value (0) to df1 for score
zeroPos = np.where(df0 == 0)
x = list(np.array(zeroPos)[0,0:])
y = list(np.array(zeroPos)[1,0:])
zeroList = list(zip(x, y))
for i in zeroList:
    df1.iloc[i] = 0

# #   create the
df1.insert(loc=0, column='Exam Score', value=np.array([0 for _ in range(n)]))
df1['Exam Score'] = df1.sum(axis=1)

df2 = df1['Exam Score']
df1

# dims = list(df2.values)
# plt.figure(figsize=(8,8))
# plt.boxplot(dims)
# plt.xlabel('Student Code', fontsize=16)
# plt.ylabel('Score', fontsize=16)
# plt.title('Box PLot of Grade Score', fontsize=16)
#
# plt.show()

File is found! Processing to load the data ...
Load data successful! Proceed the next steps ...

,Exam Score,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
Student Code,,,,,,,,,,,,,,,,,,,,,
N00000001,55.0,-1,4,4,4,4,-1,4,4,-1,...,4,4,4,4,4,-1,4,-1,-1,4
N00000002,65.0,-1,4,-1,4,-1,4,4,4,4,...,4,4,4,-1,4,4,4,4,-1,4
N00000003,80.0,4,4,-1,4,4,4,4,4,4,...,4,4,4,4,-1,4,-1,4,4,4
N00000004,70.0,4,-1,4,-1,-1,4,4,4,4,...,4,4,4,-1,4,4,-1,4,-1,4
N00000005,80.0,4,4,-1,4,-1,4,4,4,4,...,4,4,4,-1,4,4,4,-1,4,4
N00000006,65.0,4,4,4,-1,4,4,4,4,4,...,4,-1,-1,4,4,4,-1,4,4,-1
N00000007,85.0,4,4,4,4,4,4,4,4,4,...,4,4,4,-1,4,4,4,4,4,-1
N00000008,65.0,-1,4,4,4,4,-1,4,4,4,...,-1,4,4,4,4,4,-1,4,-1,4
N00000009,85.0,4,4,-1,4,4,4,4,4,4,...,-1,4,4,4,4,4,4,4,4,4
N00000010,70.0,-1,4,4,-1,4,4,4,4,4,...,4,4,4,4,-1,-1,-1,4,4,-1
N00000011,85.0,4,4,4,-1,4,4,4,4,4,...,4,4,4,4,4,4,-1,4,4,4
N00000012,70.0,4,-1,4,4,4,4,4,4,4,...,-1,4,4,4,-1,4,4,-1,-1,-1
N00000013,70.0,-1,4,4,-1,-1,4,-1,4,4,...,4,4,4,4,4,4,4,4,4,4
N00000014,75.0,4,-1,4,4,4,4,-1,-1,4,...,4,-1,4,4,4,4,4,-1,4,4
N00000015,70.0,-1,-1,-1,4,4,4,-1,4,4,...,4,4,4,4,4,4,-1,-1,4,4
N00000016,90.0,4,4,-1,4,-1,4,4,4,4,...,4,4,4,4,4,4,4,4,4,4
N00000017,65.0,4,4,4,4,4,4,-1,4,-1,...,4,4,4,-1,-1,-1,4,4,4,4
N00000018,75.0,4,4,4,-1,4,4,4,4,4,...,-1,4,4,4,-1,4,4,4,-1,4
N00000019,75.0,4,4,4,4,4,4,4,-1,4,...,4,4,4,4,-1,4,4,4,4,4
N00000020,65.0,4,-1,4,4,4,4,4,4,4,...,-1,4,4,-1,4,4,4,4,4,4